
#container {
  display: flex;
  background-color: rgb(236, 248, 104);
  height: 400px;
  width: 400px;
  flex-wrap: wrap;
  margin: 0px auto;
  border: 2px solid rgb(0, 0, 0);

}


  .gridItem{
    display: flex;
    justify-content: center;
    align-items: center;

  }



  #show-unshow, #unshow , #change-bg{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }

  #colorPicker{
    margin-left: 555px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }